@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap, https://fonts.googleapis.com/css2?family=Roboto:ital,ght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #e3e3e3;
  font-family: "Barlow", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  background: #2e4554;
=======
  background: linear-gradient(to left, #003540, #2e4554, #2e4554, #003540);
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
  max-width: 2560px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

li {
  font-size: 16px;
  list-style-type: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #262626;
}

::-webkit-scrollbar-track {
<<<<<<< HEAD
  border: 4px solid #2e4554;
=======
  border: 4px solid #003641;
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e3e3e3;
<<<<<<< HEAD
  border: 1px solid #7b6400;
=======
  border: 1px solid #001d23;
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  height: 25px;
  cursor: default;
}

::-webkit-scrollbar-button:active {
  height: 22px;
}

::-webkit-scrollbar-button:vertical:decrement {
  background: url(../assets/img/fleche_blanche_haut.png) center no-repeat,
    #262626;
  background-size: 15px;
}

::-webkit-scrollbar-button:vertical:increment {
  background: url(../assets/img/fleche_blanche_bas.png) center no-repeat,
    #262626;
  background-size: 15px;
}

.container {
<<<<<<< HEAD
  padding: 0 20px;
=======
  padding: 50px 20px;
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }
<<<<<<< HEAD

  #checkbox {
    flex-direction: column;
    margin: 20px 34px 0;
    row-gap: 10px;
    text-align: center;
  }
=======
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
}

@media (min-width: 768px) and (max-width: 915px) {
  h1 {
    font-size: 48px;
  }

  p {
    font-size: 15px;
  }
}
<<<<<<< HEAD

@media (max-width: 767px) {
  #contactBlocParaError {
    line-height: 20px;
    width: 200px;
  }

  #contactBlocParaSuccess {
    width: 200px;
    padding: 30px 0;
  }
}
=======
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
