<<<<<<< HEAD
.card_prestations {
  display: flex;
  justify-content: center;
=======
.cardprestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 30px;
}

@media (max-width: 767px) {
  .cardprestations {
    flex-wrap: nowrap;
    flex-direction: column;
  }
>>>>>>> e62148da2e7b391957a801c93e17d0a334b4c392
}
